<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/plugin/css")
   
 
</head>
<body>


    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">
            <img src="~/Content/images/cropped-logo_footer-192x192.png" width="33" height="33" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                @{

                    Boolean PedidoDominicana = false;
                    Boolean PreciosSMI = false;
                    Boolean PreciosMH = false;
                    Boolean Historico = false;
                    Boolean TexportSocks = false;
                    Boolean ColocacionOC = false;
                    Boolean ColocacionPedido = false;
                    Boolean CortosProduccion = false;
                    Boolean Underwear = false;
                    Boolean Facturacion = false;
                    Boolean Bodegas = false;
                    Boolean Workflow = false;
                    Boolean creacion = false;
                    Boolean comercial = false;
                    Boolean muestras = false;
                    Boolean servicios = false;
                    Boolean artes = false;
                    Boolean otros = false;
                    Boolean ComercialPed = false;
                    Boolean Trazabilidad = false;
                    Boolean ComercialPedA = false;
                    Boolean ComercialPedT = false;
                    Boolean Material = false;
                    
                            String usuario = "";
                    try
                    {
                        List<Apiweb.Models.USUARIO_ROL> ROl = System.Web.HttpContext.Current.Session["Rol"] as List<Apiweb.Models.USUARIO_ROL>;

                        usuario = System.Web.HttpContext.Current.Session["User"] as String;
                        foreach (var item in ROl)
                        {
                            switch (item.ROL_ID)
                            {
                                case 2:
                                    PedidoDominicana = true;
                                    break;
                                case 3:
                                    PreciosSMI = true;
                                    break;
                                case 4:
                                    PreciosMH = true;
                                    break;
                                case 5:
                                    Historico = true;
                                    break;
                                case 6:
                                    TexportSocks = true;
                                    break;
                                case 7:
                                    ColocacionOC = true;
                                    break;
                                case 8:
                                    ColocacionPedido = true;
                                    break;
                                case 9:
                                    CortosProduccion = true;
                                    break;
                                case 10:
                                    Underwear = true;
                                    break;
                                case 11:
                                    Facturacion = true;
                                    break;
                                case 12:
                                    Bodegas = true;
                                    break;
                                case 13:
                                    Workflow = true;
                                    break;

                                case 14:
                                    creacion = true;
                                    break;
                                case 15:
                                    muestras = true;
                                    break;
                                case 16:
                                    servicios = true;
                                    break;

                                case 17:
                                    artes = true;
                                    break;

                                case 18:
                                    otros = true;
                                    break;
                                case 19:
                                    comercial = true;
                                    break;
                                case 20:
                                    ComercialPed = true;
                                    break;
                                case 21:
                                    Trazabilidad = true;
                                    break;
                                case 22:
                                    ComercialPedA = true;
                                    break;
                                case 23:
                                    ComercialPedT = true;
                                    break;
                                case 24:
                                    Material = true;
                                    break;



                            }
                        }
                    }
                    catch (Exception e)
                    {
                        Response.Redirect(@Url.Action("logoff", "Login"));
                    }

                }




                @if (PedidoDominicana)
                {
                    <li id="navhome" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")"><i class="fas fa-home"></i> Pedidos Dominicana</a>
                    </li>
                }
                @if (PreciosSMI)
                {
                    <li id="navsmi" class="nav-item">
                        <a class="nav-link" href="@Url.Action("PrecioSMI", "Home")"><i class="fas fa-user"></i> Precios SMI</a>
                    </li>
                }
                @if (PreciosMH)
                {
                    <li id="navmh" class="nav-item">
                        <a class="nav-link" href="@Url.Action("PrecioMH", "Home")"><i class="fas fa-users-cog"></i> Precios MH</a>
                    </li>
                }
                @if (Historico)
                {
                    <li id="navhist" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Historicos", "Home")"><i class="fas fa-server"></i> Historico</a>
                    </li>
                }
                @if (TexportSocks)
                {
                    <li id="navqw2" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "QW2")"><i class="fas fa-book"></i> Texport Socks</a>
                    </li>
                }

                @if (Underwear)
                {
                    <li id="navqw2U" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Under", "QW2")"><i class="fas fa-boxes"></i> UnderWear</a>
                    </li>
                }
                @if (Underwear)
                {
                    <li id="navqw2UMH" class="nav-item">
                        <a class="nav-link" href="@Url.Action("UnderMH", "QW2")"><i class="fas fa-box"></i> UnderWear MH</a>
                    </li>
                }
                @if (ColocacionOC)
                {
                    <li id="navqw6" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "QW6")"><i class="fas fa-shopping-cart"></i> Purchase Orders for Production</a>
                    </li>
                }
                @if (ColocacionPedido)
                {
                    <li id="navqw62" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Plantilla", "QW6")"><i class="fas fa-tags"></i> Purchase Orders for Dispatch</a>
                    </li>
                }
                @if (CortosProduccion)
                {
                    <li id="navqw7" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "QW7")"><i class="far fa-calendar-check"></i> Cortos de Produccion</a>
                    </li>
                }
                @if (Trazabilidad)
                {
                    <li id="traza" class="nav-item">
                        <a class="nav-link" href="@Url.Action("ConsultaTrazabilidad", "QW7")"><i class="far fa-calendar-check"></i> Trazabilidad</a>
                    </li>
                }
                @if (Facturacion)
                {
                    <li id="navqw8" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "QW8")"><i class="fas fa-file-invoice-dollar"></i>Facturacion</a>
                    </li>
                }
                @if (Bodegas)
                {
                    <li id="Bodega1" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Bodega")"><i class="fas fa-file-invoice-dollar"></i>Bodega Envio</a>
                    </li>
                }

                @if (Bodegas)
                {
                    <li id="Bodega2" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Recibo", "Bodega")"><i class="fas fa-file-invoice-dollar"></i>Bodega Recepcion</a>
                    </li>
                }
                @if (Workflow)
                {
                    <li id="Workflowb2b" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Workflow")"><i class="fas fa-water"></i> Costeo</a>
                    </li>
                }
                @if (creacion)
                {
                    <li id="Workflowbart" class="nav-item">
                        <a class="nav-link" href="@Url.Action("CreacionArt", "Workflow")"><i class="fas fa-wrench"></i> Creacion Articulo</a>
                    </li>
                }
                @if (muestras)
                {
                    <li id="WorkflowMuestra" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Muestras", "Workflow")"><i class="fas fa-vial"></i> Muestras</a>
                    </li>
                }
                @if (servicios)
                {
                    <li id="WorkflowServicio" class="nav-item">
                        <a class="nav-link" href="@Url.Action("ServiciosProd", "Workflow")"><i class="fas fa-tty"></i> Servicios</a>
                    </li>
                }
                @if (artes)
                {
                    <li id="WorkflowArtes" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Artes", "Workflow")"><i class="fas fa-tty"></i> Artes</a>
                    </li>
                }
                @if (otros)
                {
                    <li id="WorkflowOtros" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Otros", "Workflow")"><i class="fas fa-th-list"></i> Otros</a>
                    </li>
                }
                @if (comercial)
                {
                    <li id="comercial" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Comercial")"><i class="fas fa-stream"></i> Comercial</a>
                    </li>
                }
                @if (ComercialPed)
                {
                    <li id="comercialped" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "ComercialPed")"><i class="fas fa-store"></i> Pedidos</a>
                    </li>
                }
                @if (ComercialPedA)
                {
                    <li id="comercialped2" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Autorizador", "ComercialPed")"><i class="fas fa-store"></i> Autorizador</a>
                    </li>
                }
                @if (ComercialPedT)
                {
                    <li id="comercialpedT" class="nav-item">
                        <a class="nav-link" href="@Url.Action("ListarTodo", "ComercialPed")"><i class="fas fa-store"></i>Lista de Pedidos</a>
                    </li>
                }

                @if (Material)
                {
                    <li id="comercialpedT" class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Material")"><i class="fas fa-store"></i>Material</a>
                    </li>
                }
                <li id="Salir" class="nav-item">
                    <a class="nav-link" href="@Url.Action("logoff", "Login")"><i class="fas fa-sign-out-alt"></i> @usuario -  Log out</a>
                </li>

            </ul>
        </div>
    </nav>




    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TermoExport</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/plugin/js")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <link rel="icon" href="~/Content/images/cropped-logo_footer-192x192.png" sizes="192x192" />

    <link href="~/Content/css/menu.css" rel="stylesheet" />

    <script>
        function test() {
            var tabsNewAnim = $('#navbarSupportedContent');
            var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
            var activeItemNewAnim = tabsNewAnim.find('.active');
            var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
            var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
            var itemPosNewAnimTop = activeItemNewAnim.position();
            var itemPosNewAnimLeft = activeItemNewAnim.position();
            $(".hori-selector").css({
                "top": itemPosNewAnimTop.top + "px",
                "left": itemPosNewAnimLeft.left + "px",
                "height": activeWidthNewAnimHeight + "px",
                "width": activeWidthNewAnimWidth + "px"
            });
            $("#navbarSupportedContent").on("click", "li", function (e) {
                $('#navbarSupportedContent ul li').removeClass("active");
                $(this).addClass('active');
                var activeWidthNewAnimHeight = $(this).innerHeight();
                var activeWidthNewAnimWidth = $(this).innerWidth();
                var itemPosNewAnimTop = $(this).position();
                var itemPosNewAnimLeft = $(this).position();
                $(".hori-selector").css({
                    "top": itemPosNewAnimTop.top + "px",
                    "left": itemPosNewAnimLeft.left + "px",
                    "height": activeWidthNewAnimHeight + "px",
                    "width": activeWidthNewAnimWidth + "px"
                });
            });
        }
        $(document).ready(function () {
            setTimeout(function () { test(); });
        });
        $(window).on('resize', function () {
            setTimeout(function () { test(); }, 500);
        });
        $(".navbar-toggler").click(function () {
            setTimeout(function () { test(); });
        });
    </script>
</body>
</html>
